%html
  %head
    %meta{charset: "UTF-8"}
    %title
      短冊ジェネレータ
    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/riot/2.5.0/riot.js'}
    %script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/all.css", :rel => "stylesheet"}/


    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    = yield
    %script{:src => 'https://cdn.jsdelivr.net/riot/2.3/riot+compiler.min.js'}
    %script
      riot.mount('*')

    %footer
      = partial "layouts/_footer"


